---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
---

<div
  class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000"
>
  <div class="min-h-screen w-full flex items-center px-4">
    <div class="w-full">
        <img
          src="/img/home.jpg"
          class="w-full mx-auto"
          alt="tienda"
        />
    </div>
  </div>
</div>
