<div class="px-2">
  <!--Filter group-->
  <div class="pt-6 pb-10 border-b border-muted-200 dark:border-muted-800">
    <h3
      class="font-sans font-light text-lg mb-6 text-muted-800 dark:text-muted-100"
    >
      Procedencia
    </h3>
    <!--Radio options-->
    <div class="space-y-4">
      <!--Radio Option-->
      <div class="flex items-center gap-3 cursor-pointer">
        <div
          class="bg-white dark:bg-muted-900 rounded-full w-4 h-4 flex flex-shrink-0 justify-center items-center relative"
        >
          <input
            id="radio-0"
            type="radio"
            name="radio_location"
            class="peer appearance-none ring-offset-white dark:ring-offset-muted-900 focus:opacity-100 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600 focus:outline-none border rounded-full border-muted-400 absolute cursor-pointer w-full h-full checked:border-none"
            checked
          />
          <div
            class="border-2 border-transparent peer-checked:border-primary-600 rounded-full w-full h-full z-1"
          >
          </div>
        </div>
        <label
          for="radio-0"
          class="ml-2 text-sm leading-4 font-normal text-muted-800 dark:text-muted-400"
        >
          Cualquiera
        </label>
      </div>
      <!--Radio Option-->
      <div class="flex items-center gap-3 cursor-pointer">
        <div
          class="bg-white dark:bg-muted-900 rounded-full w-4 h-4 flex flex-shrink-0 justify-center items-center relative"
        >
          <input
            id="radio-1"
            type="radio"
            name="radio_location"
            class="peer appearance-none ring-offset-white dark:ring-offset-muted-900 focus:opacity-100 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600 focus:outline-none border rounded-full border-muted-400 absolute cursor-pointer w-full h-full checked:border-none"
          />
          <div
            class="border-2 border-transparent peer-checked:border-primary-600 rounded-full w-full h-full z-1"
          >
          </div>
        </div>
        <label
          for="radio-1"
          class="ml-2 text-sm leading-4 font-normal text-muted-800 dark:text-muted-400"
        >
          Alcázar de San Juan
        </label>
      </div>
      <!--Radio Option-->
      <div class="flex items-center gap-3 cursor-pointer">
        <div
          class="bg-white dark:bg-muted-900 rounded-full w-4 h-4 flex flex-shrink-0 justify-center items-center relative"
        >
          <input
            id="radio-2"
            type="radio"
            name="radio_location"
            class="peer appearance-none ring-offset-white dark:ring-offset-muted-900 focus:opacity-100 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600 focus:outline-none border rounded-full border-muted-400 absolute cursor-pointer w-full h-full checked:border-none"
          />
          <div
            class="border-2 border-transparent peer-checked:border-primary-600 rounded-full w-full h-full z-1"
          >
          </div>
        </div>
        <label
          for="radio-2"
          class="ml-2 text-sm leading-4 font-normal text-muted-800 dark:text-muted-400"
        >
          La Mancha
        </label>
      </div>
      <!--Radio Option-->
      <div class="flex items-center gap-3 cursor-pointer">
        <div
          class="bg-white dark:bg-muted-900 rounded-full w-4 h-4 flex flex-shrink-0 justify-center items-center relative"
        >
          <input
            id="radio-3"
            type="radio"
            name="radio_location"
            class="peer appearance-none ring-offset-white dark:ring-offset-muted-900 focus:opacity-100 focus:ring-2 focus:ring-offset-2 focus:ring-primary-600 focus:outline-none border rounded-full border-muted-400 absolute cursor-pointer w-full h-full checked:border-none"
          />
          <div
            class="border-2 border-transparent peer-checked:border-primary-600 rounded-full w-full h-full z-1"
          >
          </div>
        </div>
        <label
          for="radio-3"
          class="ml-2 text-sm leading-4 font-normal text-muted-800 dark:text-muted-400"
        >
          España
        </label>
      </div>
    </div>
  </div>

</div>
