---
import Card from "@components/base/Card.astro";
---

<div class="grid md:grid-cols-3 ltablet:grid-cols-3 lg:grid-cols-3 gap-x-6 ptablet:gap-x-4 gap-y-16 pt-10">
  <div x-show="activeCategory === 'all' || activeCategory === 'propio'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
        <img
          class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
          src="/img/products/salchichas.jpg"
          alt="salchichas"
        />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Salchichas
        </h4>
        <p class="text-sm text-muted-400">Elaboración propia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Salchichas caseras elaboradas en nuestro obrador
        </p>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'propio'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
          <img
                  class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
                  src="/img/products/salchichas.jpg"
                  alt="salchichas"
          />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Chorizos
        </h4>
        <p class="text-sm text-muted-400">Elaboración propia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'propio'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
          <img
                  class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
                  src="/img/products/salchichas.jpg"
                  alt="salchichas"
          />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Hamburguesas de ternera
        </h4>
        <p class="text-sm text-muted-400">Elaboración propia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>

    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'propio'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
          <img
                  class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
                  src="/img/products/salchichas.jpg"
                  alt="salchichas"
          />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Hambuguesas ibéricas
        </h4>
        <p class="text-sm text-muted-400">Elaboración propia</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>

    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'panaderia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
          <img
                  class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
                  src="/img/products/salchichas.jpg"
                  alt="salchichas"
          />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Barra de pan
        </h4>
        <p class="text-sm text-muted-400">Panadería</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>
    </Card>
  </div>
  <!-- Doctor -->
  <div x-show="activeCategory === 'all' || activeCategory === 'panaderia'">
    <Card class="'p-4'">
      <div
        class="relative w-full h-40 rounded-lg bg-muted-200 dark:bg-muted-800"
      >
          <img
                  class="m-auto w-full h-full max-w-[170px] ptablet:max-w-[150px] object-cover"
                  src="/img/products/salchichas.jpg"
                  alt="salchichas"
          />
      </div>
      <div class="font-sans mt-3">
        <h4 class="font-semibold text-muted-800 dark:text-muted-100">
          Galletas
        </h4>
        <p class="text-sm text-muted-400">Surgeon</p>
      </div>
      <div class="mt-2">
        <p class="text-sm ptablet:text-xs text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ergo illi
          intellegunt quid
        </p>
      </div>

    </Card>
  </div>
 
</div>
